* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_button {
    display: inline-block;
    padding: 5px 25px;
    border: 2px solid #f5f5f5;
    border-radius: 2px;
    transition: all ease-in-out 0.1s;
}

.main_button:hover, .secondary_button:hover {
    color: #afaff5;
    border-color: #afaff5;
}

.secondary_button {
    display: inline-block;
    padding: 5px 15px;
    border: 2px solid #f5f5f5;
    border-radius: 2px;
    transition: all ease-in-out 0.1s;
}
