#main_section {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#main_section_content {
    position: absolute;
    width: 50vw;
    bottom: 0;
    left: 0;
    padding: 50px;
    border-top-right-radius: 2px;
}

#main_section_content * {
    margin-bottom: 20px;
}

#main_section_content a {
    margin-bottom: 0;
}
